<div class="pt-5 ps-5 pe-5">
  <div class="row">
    <ng-container *ngIf="template$ | async as template">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item ps-0"><a href="#">Overview</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ template.name }}</li>
        </ol>
      </nav>

      <div class="pt-5">
        <div class="d-flex">
          <div class="ps-2 pe-2">
            <img
              *ngIf="template.imageUrl; else unknownLogo"
              class="logo"
              [src]="template.imageUrl"
              [alt]="template.platformType"
            />
            <ng-template #unknownLogo>
              <img src="assets/meshstack-logo.png" class="logo" alt="Unknown Logo" />
            </ng-template>
          </div>
          <div class="ps-5">
            <h1 class="fw-bold h3">
              <span class="pe-4">{{ template.name }}</span>
              <span class="badge bg-secondary fw-bold">Building Block</span>
            </h1>

            <div class="pt-3">
              <p>{{ template.description }}</p>

              <div class="pt-3">
                <h2 class="fw-bold h4">
                  <i class="fa-solid fa-code pe-2"></i>
                  Source
                </h2>
                <div class="d-flex align-items-center p-2 bg-light border rounded shadow-sm">
                  <a [href]="template.source" target="_blank" rel="noopener noreferrer" class="mr-3 flex-grow-1">
                    {{ template.source }}
                  </a>
                  <button (click)="copyToClipboard(template.source)" class="btn btn-light btn-sm">
                    <i *ngIf="copyLabel === 'Copy'" class="fas fa-copy"></i>
                    <i *ngIf="copyLabel === 'Copied'" class="fa-solid fa-check"></i>
                    {{ copyLabel }}
                  </button>
                </div>
              </div>

              <div class="pt-4">
                <h2 class="fw-bold h4">How to use this template</h2>
                <div class="pt-2">
                  <h3 class="fw-bold h6">Option 1: Directly reference this Template</h3>
                  <p>
                    Click the button “Use template” below and enter your meshStack URL. meshStack will automatically
                    import all necessary information and references the public GitHub repository. You will only need to
                    fill in some missing inputs, for example for secrets.
                  </p>
                </div>
                <div class="pt-2">
                  <h3 class="fw-bold h6">Option 2: Copy the Files into your own Repository</h3>
                  <p>Alternatively, you can copy the Terraform files needed and take ownership of the code.</p>
                  <ol>
                    <li>Copy the files in your own repository</li>
                    <li>Open meshStack and create a new building block definition</li>
                    <li>
                      Follow the instructions in the wizard and make sure you select "Terraform" as implementation type
                    </li>
                    <li>Add the link to your repository, you copied the files and connect it to meshStack</li>
                    <li>meshStack will automatically add the inputs and outputs. Fill in the missing information.</li>
                    <li>
                      At the end click
                      <b>Create Definition</b>
                      to finish
                    </li>
                  </ol>
                </div>
              </div>

              <div class="pt-5 d-flex justify-content-end">
                <a href="#" class="btn btn-outline-primary me-2">Go Back</a>
                <button class="btn btn-primary" (click)="open(template)">Add to meshStack</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
