/.idea/

.DS_Store
node_modules/
dist/
tmp/
out-tsc/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sass-cache/
.vscode/
.idea/
*.iml
.angular/

*.terraform*
*.tfstate*
*tfvars*

.terraform.lock.hcl
