<div class="coming-soon-container">
  <div class="coming-soon-banner">
    <div class="d-flex">
      <img class="logo" src="assets/meshstack-logo.png" alt="meshStack Logo">
      <h1 class="fw-bold">meshStack Hub - Coming Soon!</h1>
    </div>
    <p class="p-2 fs-5">We're well on our way to bringing you a seamless cloud governance experience with <b>meshStack Hub</b>. Stay tuned as we continue to build out this exciting tool!</p>
   
    <div class="progress bg-white">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: 25%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <span>25%</span>
  </div>

</div>
<router-outlet></router-outlet>