# Network: **${network_name}**

## Details

| Property | Value |
|----------|-------|
| **Network ID** | `${network_id}` |
| **Network CIDR** | `${network_cidr}` |
| **Portal** | [Open in STACKIT Portal](${network_url}) |
