# Network Area: **${network_area_name}**

## Details

| Property | Value |
|----------|-------|
| **Network Area ID** | `${network_area_id}` |
| **Network Ranges** | ${join(", ", network_ranges)} |
| **Transfer Network** | `${transfer_network}` |
