<header class="header ps-5 pe-5 pt-4 pb-4">
  <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between">
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
      <a href="/">
        <img class="logo" src="assets/meshstack-logo.png" alt="meshStack-logo" />
      </a>
      <div class="ms-0 ms-md-3">
        <h1 class="title h3">Welcome to meshStack Hub!</h1>
        <mst-search-bar class="mt-2 d-md-none"></mst-search-bar>
        <a
          href="https://www.meshcloud.io/en/book-demo"
          class="btn btn-light mt-2 d-md-none"
          target="_blank"
          rel="noopener noreferrer"
        >
          Discover meshStack
          <img src="assets/meshstack-logo-black-white.png" alt="meshStack Logo" class="button-image" />
        </a>
      </div>
      <div class="vr ms-3 me-3 d-none d-md-block"></div>
      <mst-search-bar class="d-none d-md-block"></mst-search-bar>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-0">
      <span class="user-select-all text-truncate me-3" style="color: transparent; width: 21ch; max-height: 4rem">
        Eggcelent! 🥚
        <br />
        Now copy & paste me!
        <br />
        You've cracked the clue wide open LOL And this my friend, is an example of *what not to do* when hiding content.
        #Accessibility Talk You've discovered what was meant to hide, a div transparent just like we tried. Now for your
        next, look up hiiiigh where muscles pull and ceiling tiles lie.
      </span>
    </div>
    <a
      href="https://www.meshcloud.io/en/book-demo"
      class="btn btn-light d-none d-md-block"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discover meshStack
      <img src="assets/meshstack-logo-black-white.png" alt="meshStack Logo" class="button-image" />
    </a>
  </div>
</header>
