<header class="header ps-5 pe-5 pt-5 pb-1">
  <div class="d-flex">
    <a href="/">
      <img class="logo" src="assets/meshstack-logo.png" alt="meshStack-logo" />
    </a>
    <h1 class="title">Welcome to meshStack Hub!</h1>
  </div>

  <div class="w-50">
    <p class="text-dark">
      Find ready-to-use Terraform modules to integrate with meshStack. Automate cloud governance or roll out commonly
      used cloud resources. Built for scalability and security, these modules help you build your platform faster!
      Explore the collection below and get started!
    </p>
  </div>
</header>
