@import '@styles';

.header {
  background-color: $mesh-blue;

  .logo {
    height: 10rem;
    object-fit: contain;
  }

  .title {
    color: $mesh-black;
    font-weight: bold;
    align-self: center;
    margin-top: 2.5rem;
  }
}
