.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.card-body {
  flex-grow: 1;
}

.card-label {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: gray;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: var(--bs-card-border-radius) 0 var(--bs-card-border-radius) 0;
}

.circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;

  img {
    width: 75%;
    height: 75%;
    object-fit: contain;
  }
}
