<ul class="nav nav-pills">
  <li class="nav-item pe-2">
    <a class="nav-link" [routerLink]="['/all']" routerLinkActive="active">All</a>
  </li>
  <li class="nav-item pe-2">
    <a class="nav-link" [routerLink]="['/aws']" routerLinkActive="active">AWS</a>
  </li>
  <li class="nav-item pe-2">
    <a class="nav-link" [routerLink]="['/azure']" routerLinkActive="active">Azure</a>
  </li>
  <li class="nav-item pe-2">
    <a class="nav-link" [routerLink]="['/github']" routerLinkActive="active">GitHub</a>
  </li>
  <li class="nav-item pe-2">
    <a class="nav-link" [routerLink]="['/gcp']" routerLinkActive="active">GCP</a>
  </li>
</ul>
