<div class="container mt-4">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/all']" routerLinkActive="active" [class.active]="activeTab === 'all'">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/aws']" routerLinkActive="active" [class.active]="activeTab === 'aws'">AWS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/azure']" routerLinkActive="active" [class.active]="activeTab === 'azure'">
        Azure
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/gcp']" routerLinkActive="active" [class.active]="activeTab === 'gcp'">GCP</a>
    </li>
  </ul>
</div>
