# Bucket: **${bucket_name}**

## Details

| Property | Value |
|----------|-------|
| **Bucket Name** | `${bucket_name}` |
| **Path-Style URL** | ${bucket_url_path_style} |
| **Virtual-Hosted URL** | ${bucket_url_virtual_hosted} |
| **Access Key** | `${access_key}` |
| **Secret Access Key** | `${secret_access_key}` |
