name: Validate Modules Folder

on:
  push:

jobs:
  validate-modules:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Run validation script
        run: ci/validate_modules.sh
